button {
  color: rgb(40, 197, 79);
  background-color: black;
}

#line1 {
  color: yellowgreen;
  background-color: grey;
}
#line2 {
  color: blue;
  background-color: aqua;
}

.content {
  color: lightblue;
  background: lightcoral;
}
.outer-div {
  height: 200px;
  width: 200px;
  background-color: brown;
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 50px;
  padding-top: 30px;
  border: 3px solid;
  border-color: blue;
}

.white {
  color: white;
}

.inner-div {
  height: 40px;
  width: 100px;
  margin: 10px;
  background-color: violet;
}
